<div class="side-content-wrap">
    <div 
        class="sidebar-left open rtl-ps-none" 
        data-perfect-scrollbar="" 
        data-suppress-scroll-x="true"
    >
        <ul class="navigation-left">
            <li class="nav-item {{ (app.request.attributes.get('_route') == 'user.index') ? 'active' : '' }}">
                <a class="nav-item-hold" href="{{ path('user.index') }}">
                    <i class="nav-icon i-Add-User"></i>
                    <span class="nav-text">Utilisateurs</span>
                </a>
                <div class="triangle"></div>
            </li>

            <li class="nav-item {{ (app.request.attributes.get('_route') == 'address.index') ? 'active' : '' }}">
                <a class="nav-item-hold" href="{{ path('address.index') }}">
                    <i class="nav-icon i-Book"></i>
                    <span class="nav-text">Adresses</span>
                </a>
                <div class="triangle"></div>
            </li>

            <li class="nav-item {{ (app.request.attributes.get('_route') == 'contact.index') ? 'active' : '' }}">
                <a class="nav-item-hold" href="{{ path('contact.index') }}">
                    <i class="nav-icon i-Bookmark"></i>
                    <span class="nav-text">Contactes</span>
                </a>
                <div class="triangle"></div>
            </li>

            <li class="nav-item {{ (app.request.attributes.get('_route') == 'experience.index') ? 'active' : '' }}">
                <a class="nav-item-hold" href="{{ path('experience.index') }}">
                    <i class="nav-icon i-Students"></i>
                    <span class="nav-text">Experiences</span>
                </a>
                <div class="triangle"></div>
            </li>
        </ul>
    </div>
    
    <div class="sidebar-overlay"></div>
</div>